<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-bordered ">
    <tr>
        <th>NAME</th>
        <th>IMAGE</th>
        <th>DESCRIPTION</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{i.NAME}}</td>
        <td>
            <img src="{{i.IMAGE.url}}" width="100px">
        </td>
        <td>{{i.DESCRIPTION}}</td>
        <td>
            <a href="{% url 'add_catagory_edit' product_id=i.id %}">
                <button type="submit" class="btn btn-success">EDIT</button>
            </a>

            <a href="{% url 'delete_catagory' pro_id=i.id %}">
                <button type="submit" class="btn btn-danger">DELETE</button>
            </a>
        </td>>
    </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}